# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = "OpenFest Server User"
	email = core@openfest.org

[alias]
	co = checkout
	ci = commit
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	synctags = "!if [ $(git remote show | wc -l) -gt 1 ] ; then for r in $(git remote show) ; do echo \"Fetching $r ...\" ; git fetch $r ; done && git push --tags origin; fi"
  vvci = commit --author='Vladimir Vitkov <vvitkov@gmail.com>'
  rpci = commit --author='robotpanic <kalin.t.iliev@gmail.com>'
